<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /farma/
    DirectoryIndex index.php

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.+)$ app.php [L,QSA]
</IfModule>