img.clickable {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
    margin-bottom: 10px;
    width:60px;
  }
  
  img.clickable:hover {
    border-color: #007bff; /* Azul de Bootstrap */
  }
  
  
  span.estado-pendiente{
    background-color: rgb(214, 30, 30);
    color:white;
    border-radius: 30px;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    display: flex;
justify-content: center;
width: auto;
  }

  span.estado-proceso{
      background-color: rgb(230, 164, 10);
      color:white;
      border-radius: 30px;
      padding: 8px;
      font-weight: bold;
      font-size: 13px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
justify-content: center;
width: auto;
  }

    span.estado-terminado{
        background-color: rgb(7, 181, 74);
        color:white;
        border-radius: 30px;
        padding: 8px;
        font-weight: bold;
        font-size: 13px;
        display: flex;
justify-content: center;
width: auto;
      }


      span.estado-enviada{
        background-color: rgb(46, 98, 255);
        color:white;
        border-radius: 30px;
        padding: 8px;
        font-weight: bold;
        font-size: 13px;
        display: flex;
justify-content: center;
width: auto;
      }


      span.estado-rechazado{
        background-color: rgb(214, 30, 30);
        color:white;
        border-radius: 30px;
        padding: 8px;
        font-weight: bold;
        font-size: 13px;
        display: flex;
justify-content: center;
width: auto;
      }


      .error {
        display: flex;
        align-items: center;    /* Alinea verticalmente */
        justify-content: center; /* Alinea horizontalmente */
        color: #ff4d4d;
        background-color: #ffe6e6;
        border: 1px solid #ff4d4d;
        padding: 10px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
        height: 35px; /* O el tamaño que necesites */
        display:none;
      }


      td.dt-type-date{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #sugerencias{
        display: none;
        border: 1px solid #ccc;
        color:#007bff;
        font-weight: bold;
        padding:8px;
        cursor: pointer;
      }

      #sugerencias.desactivado {
        color: rgb(182, 11, 11);
        background-color: #ffd4d4;
        pointer-events: none;
        cursor: none;
    }
    .invalid-feedback{
      font-weight: bold;
    }